.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  background-color: #ECECEC;
  color: white;
  padding: 1px;
}

.App-footer {
  background-color:#999999;
  color: white;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

